.panel .panel-body .button-action-menu .overflow-ellipsis {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel .panel-body .button-action-menu .overflow-hidden {
  overflow: hidden;
  position: relative;
}
.panel .panel-body .button-action-menu .fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.panel .panel-body .button-action-menu .btn {
  width: 100%;
  padding: 8px 16px !important;
  font-size: 1em !important;
  font-weight: normal !important;
}
.panel .panel-body .button-action-menu .btn-group {
  width: 100%;
}
.panel .panel-body .button-action-menu .btn-group .split-toggle {
  width: auto !important;
  float: right !important;
  border-radius: 0px 3px 3px 0px;
}
.panel .panel-body .button-action-menu .btn-group .split-toggle:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0px 3px 3px 0px;
}
.panel .panel-body .button-action-menu .btn-group > .split-button {
  width: auto !important;
  overflow: hidden;
  display: block;
  float: none !important;
  border-radius: 3px 0px 0px 3px;
}
.panel .panel-body .button-action-menu .btn-group > .split-button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 3px 0px 0px 3px;
}
.panel .panel-body .button-action-menu .dropdown-menu {
  padding: 0;
  margin: 0;
  width: 100%;
}
.panel .panel-body .button-action-menu .dropdown-menu li {
  padding: 0;
  border: none;
  border-radius: 0px;
}
.panel .panel-body .button-action-menu .dropdown-menu li:first-child {
  padding: 0;
  margin: 0;
  border-radius: 3px 3px 0px 0px;
}
.panel .panel-body .button-action-menu .dropdown-menu li:first-child .btn {
  border-radius: 3px 3px 0px 0px;
}
.panel .panel-body .button-action-menu .dropdown-menu li:last-child {
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 3px 3px;
}
.panel .panel-body .button-action-menu .dropdown-menu li:last-child .btn {
  border-radius: 0px 0px 3px 3px;
}
.panel .panel-body .button-action-menu .dropdown-menu .btn {
  border: none;
  border-radius: 0px;
}
#gallery-container.shadowPublic {
  box-shadow: 0 0 3px 0 #6fdbe8;
  -webkit-box-shadow: 0 0 3px 0 #6fdbe8;
}
#gallery-container .shadowPublic {
  box-shadow: 0 0 3px 0 #6fdbe8;
  -webkit-box-shadow: 0 0 3px 0 #6fdbe8;
}
#gallery-container .social-activities {
  font-size: 11px;
  color: #fff;
  margin-bottom: 0;
}
#gallery-container .social-activities a {
  font-size: 11px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
}
#gallery-container .social-activities a:hover {
  color: #aeaeae;
  text-decoration: none;
}
#gallery-container .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#gallery-container .dropdown-menu .btn-group {
  width: 100%;
}
#gallery-container .dropdown-menu .btn-group .btn {
  padding: 4px 15px;
  font-size: 13px;
  color: #fff;
}
#gallery-container .dropdown-menu .btn-group .btn:hover {
  text-decoration: none;
}
#gallery-container #gallery-list {
  margin: 0px 10px 0px 10px !important;
}
#gallery-container #gallery-list .galleryEmptyMessage .panel {
  margin: 0;
}
#gallery-container #gallery-list .galleryEmptyMessage .panel .panel-body {
  margin: 10px;
  /*                    img {
                        overflow:hidden;
                    }*/
}
#gallery-container #gallery-list .row {
  padding: 5px 0px 0px 5px !important;
  margin: 0;
}
#gallery-container #gallery-list .row .gallery-list-entry {
  padding: 0px 5px 5px 0px;
  margin: 0;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel {
  border-radius: 3px !important;
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-body {
  padding: 0 !important;
  height: auto;
  width: 100%;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-body a {
  overflow: hidden;
  display: block;
  width: 100%;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-body a img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-body a span.overlay {
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-body a span.overlay i {
  position: absolute;
  top: 45%;
  left: 0%;
  font-size: 1.5em;
  color: #fff !important;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: auto;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-footer,
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-heading {
  position: absolute;
  padding: 8px !important;
  border-radius: 0 !important;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border: none;
  background: none;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-footer .gallery-media-file-controls a,
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-heading .gallery-media-file-controls a {
  font-size: 1.125em;
  cursor: pointer;
  padding-left: 5px;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-footer .pull-left,
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-heading .pull-left {
  max-width: 75%;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-footer.background-none,
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-heading.background-none {
  background: none;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-footer {
  bottom: 0;
  left: 0;
  right: 0;
}
#gallery-container #gallery-list .row .gallery-list-entry .panel .panel-heading {
  font-size: 12px;
  top: 0;
  left: 0;
  right: 0;
}
#gallery-container #gallery-list .row .gallery-list-entry:hover .panel .panel-body a img {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);
}
#gallery-container #gallery-list .row .gallery-list-entry:hover .panel .panel-body a span.overlay {
  visibility: visible;
  opacity: 0.55;
  -moz-opacity: 0.55;
  -webkit-opacity: 0.55;
  filter: alpha(opacity=55);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
}
#gallery-container #gallery-list .row .gallery-list-entry:hover .panel .panel-body a span.overlay i {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
#gallery-container #gallery-list .row .gallery-list-entry:hover .panel .panel-footer,
#gallery-container #gallery-list .row .gallery-list-entry:hover .panel .panel-heading {
  opacity: 0.9;
  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
/*@media (max-width: 750px) {
    #gallery-container {
        .panel-body {
            #gallery-list {
                .row {
                    padding-bottom: 0px;
                    .gallery-list-entry {
                        //-bottom: 10px;
                        .panel {
                            .panel-heading {
                                .pull-left {
                                    max-width: 80%;
                                }
                            }
                            .panel-footer {
                                &.overlay {
                                    display: block;
                                }
                            }
                        }
                        &:last-child {
                            padding-bottom: 0px;
                        }
                    }   
                }
            }
        }
    }
}

@media (min-width: 750px) {
    #gallery-container {
        .panel-body {
            #gallery-list {
                .row {
                    padding-bottom: 10px;
                    .gallery-list-entry {
                        //padding-bottom: 0px;
                        .panel {
                            .panel-heading {
                                .pull-left {
                                    max-width: 45%;
                                }
                            }
                            .panel-footer {
                                &.overlay {
                                    display: none;
                                }
                            }
                        }
                        &:last-child {
                            padding-bottom: 0px;
                        }
                    }   
                }
            }
        }
    }
}

@media (min-width: 991px) {
    #gallery-container {
        .panel-body {
            #gallery-list 
            .row {
                .gallery-list-entry{
                    .panel {
                        .panel-heading {
                            .pull-left {
                                max-width: 60%;
                            }
                        }
                        .panel-footer {
                            &.overlay {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1210px) {
    #gallery-container {
        .panel-body {
            #gallery-list {
                .row {
                    .gallery-list-entry{
                        .panel {
                            .panel-heading {
                                .pull-left {
                                    max-width: 75%;
                                }
                            }
                            .panel-footer {
                                &.overlay {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1420px) {
    #gallery-container {
        .panel-body {
            #gallery-list {
                .row {
                    .gallery-list-entry{
                        .panel {
                            .panel-heading {
                                .pull-left {
                                    max-width: 70%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}*/
